<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c637db11-07ea-4a2b-87ef-8cc3813c9a13/resourceGroups/maersk/providers/Microsoft.Web/sites/maersk-sea</ResourceId>
    <ResourceGroup>maersk</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maersk-sea.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maersk-sea.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>maersk-sea</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$maersk-sea</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CMSMaersk.DAL.ContainerContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:maerskdb-sea.database.windows.net,1433;Initial Catalog=MaerskDB;User ID=maersk@maerskdb-sea.database.windows.net;Password=TestPassword9" Name="Data Source=tcp:maerskdb-sea.database.windows.net,1433;Initial Catalog=MaerskDB;User Id=maersk@maerskdb-sea.database.windows.net;Password=TestPassword9;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CMSMaersk.DAL.ContainerContext, CMSMaersk" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CMSMaersk.DAL.ContainerContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maerskdb-sea.database.windows.net,1433;Initial Catalog=MaerskDB;User Id=maersk@maerskdb-sea.database.windows.net;Password=TestPassword9;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CMSMaersk.DAL.ContainerContext" />
  </ItemGroup>
</Project>